body{
  background-color: #243640;
}
.image-box{
  width: 50%;
  height: 50vh;
  background-color: white;
  margin: auto;
}
.button1{
  cursor: pointer;
  margin-left: 25%;
  padding: 5px;
  font-weight: bold;
}
.button2{
  cursor: pointer;
  float: right;
  margin-right: 25%;
  padding: 5px;
  font-weight: bold;
}