body{
  background-color: #243640;
}
.image-box{
  width: 50%;
  height: 60vh;
  background-color: white;
  margin: auto;
}
.button1{
  cursor: pointer;
  margin-left: 25%;
  padding: 5px;
  font-weight: bold;
}
.button2{
  cursor: pointer;
  float: right;
  margin-right: 25%;
  padding: 5px;
  font-weight: bold;
}

.three-image-conatiner{
  margin-right: 10%;
  margin-left:10%;
}

.arrows:hover{
background-color: black;
color: white;
}